/*Fonts som ska användas över hela sidan*/
@font-face{
    font-family: "Inter";
    src: url(material/Inter.ttf) format("truetype");
    font-weight: 320 650;
    font-style: normal;
}

/*Grundlägande styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", "sans-serif";
    background-color: #f4f4f4;
    margin: 0;
}

.wrapper{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
