/*Fonts som ska användas över hela sidan*/
@font-face{
    font-family: "Inter";
    src: url(material/Inter.ttf) format("truetype");
    font-weight: 320 650;
    font-style: normal;
}

/*Grundlägande styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", "sans-serif";
    background-color: #f4f4f4;
    margin: 0;
}

.wrapper{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/*main-header styling*/
header{
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid #999999;
    z-index: 1000;
}

/* styling  till elemet som finns inut i header*/
.logo {
    max-width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-nav, .right-nav {
    display: flex;
}

.nav-box {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-box:hover {
    background-color: #e5e5e5;
}

.nav-box a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.hamburger-menu {
    display: none;
    max-width: 20px;
    height: auto;
}

.special-link {
    background-color:  #050505;
    border-radius: 5px;
    padding: 5px 10px;
}

.special-link a {
    color:  #e5e5e5;
    text-decoration: none;
    font-size: 14px;
}

.special-link:hover {
    background-color:#121212;
    color: #f4f4f4;
}

/* Style för Första sektionen*/
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px; /* utrymme under headern */
}

.hero-text-column { 
    flex: 1;
    padding-right: 20px;
}

.hero-text-column h1 { 
    font-size: 4vw; 
    font-weight: 650;
    margin-bottom: 15px;
}

.hero-text-column p { 
    font-size: 1.5vw; 
    font-weight: 400;
    margin-bottom: 15px;
    color: #999999;
}

.cta-button {
    background-color: #050505;
    color: #f4f4f4;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    font-size: 15px;
    font-weight: 400;
}

.cta-button:hover {
    background-color: #121212;
}

.hero-image-column {
    flex: 1;
    text-align: center;
}

.hero-image-column img {
    max-width: 100%;
    height: auto;
}


/* Styling för loggsektionen */
.logo-section {
    margin-top: 20px;
    text-align: center; /* Centrerar sektionen */
}

.logo-container {
    display: flex;
    flex-wrap: wrap; /* Gör att logotyperna går till nästa rad om utrymmet inte räcker */
    justify-content: center; /* Centrerar logotyperna horisontellt */
}

.logo-container img {
    max-width: 90px;  /* Begränsar bredden */
    max-height: 90px; /* Begränsar höjden för att behålla proportionerna */
    margin: 10px;     /* Lägger till mellanrum runt varje logotyp */
    object-fit: contain; /* Behåller proportionerna inuti ramen */
}

/* andra sektion styling */
.feature-section {
    margin-top: 40px; /* Utrymme ovanför sektionen */
}

.text-image-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.feature-text-column { 
    max-width: 50%; /* Maximalt 50% av bredden */
    text-align: left; 
    margin-bottom: 20px; 
}

.feature-image-column { 
    text-align: center;
    position: relative; /* Positionerar bilden relativt för citatet */
    margin-bottom: 20px; /
}

.image-text-container {
    position: relative; /* För att kunna positionera citatet korrekt */
}

.feature-image-column img { 
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skugga runt bilden */
    margin-bottom: 10px; /* Mellanrum under bilden */
}

.quote {
    color: #7f7f7f;
    font-size: 3vw; 
    text-align: center; /* Centrerar citatet */
    margin-top: 10px; /* Utrymme ovanför citatet */
    width: 100%; 
}

/* Styling för citatsektionen */
.quote-section {
    margin-bottom: 40px;
    text-align: center;
}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrerar innehållet horisontellt */
    margin-top: 10px;
}

.quote-image {
    max-width: 45px; /* Justera bildens storlek */
    height: auto;
    margin-right: 5px; /* Skapar utrymme mellan bild och text */
}

.quote-text {
    font-size: 14px;
    text-align: left; /* Texten placeras till höger om bilden */
}

.quote-text h4 {
    color: #050505;
}

.quote-text p {
    color: #999999;
}


.color-1{
    color:black;
}

.color-2{
    color:  #666666;
}








/* Divider linje */
.divider {
    border: 0; /* Ta bort standard gräns */
    height: 1px; /* Höjd för linjen */
    background-color: #999999;
}
